/* @media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 330px);
    }
    .row {
        padding-top: 50px;
        flex-direction: column;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    .gallery {
        padding: 0;
    }
}

@media only screen and (max-width: 776px) {
    .row {
        padding-top: 50px;
        flex-direction: column;
    }
    .grid {
        grid-template-columns: 330px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    .gallery {
        padding: 0;
    }
}
 */


/* -----------------------
    Mobile divices 
-------------------------- */

@media only screen and (max-width:688px) {
    .banner-items {
        grid-template-columns: 330px;
        grid-column-gap: 0px;
    }
    .highlight-items {
        grid-template-columns: 330px;
        grid-column-gap: 0px;
    }
    .upcomming-matches {
        grid-template-columns: 330px;
        grid-column-gap: 0px;
    }
    .content {
        width: 100%;
        padding: 0px 16px;
    }
}

@media only screen and (max-width:688px) and (max-width:992px) {
    .banner-items {
        grid-template-columns: repeat(1, 330px);
        grid-column-gap: 0px;
    }
    .highlight-items {
        grid-template-columns: repeat(1, 330px);
        grid-column-gap: 0px;
    }
    .upcomming-matches {
        grid-template-columns: repeat(1, 330px);
        grid-column-gap: 0px;
    }
    .content {
        width: 100%;
        padding: 0px 16px;
    }
}