/* ------------- Header Nav Style -------------- */

#home {
    /* margin-bottom: 150px;
    display: flex;
    align-items: center;
    */
}

.fa-sign-in-alt {
    margin-right: 8px;
}

.nav-container {
    padding: 30px 0px;
    overflow: hidden;
    background-color: #2D25A0;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

#navbar {
    padding: 10px 0px;
}

#navbar ul {
    padding: 0px;
    margin: 0px;
}

#navbar ul li {
    display: inline-block;
    padding-left: 0px;
}

#navbar ul li:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

#navbar ul li a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    padding: 0px 36px 0px 0px;
}

#navbar a:hover {
    color: #E02C6D;
}


/* ------------- Banner Style -------------- */

#clubs {}

.banner {
    background-color: #2D25A0;
    width: 100%;
    padding: 200px 0px 86px 0px;
}

.banner-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.banner-left-item {
    align-items: center;
}

.banner-left-item:hover {
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.fa-arrow-right {
    margin-left: 8px;
}

.banner-left-item h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
}

.banner-right-item img {
    width: 100%;
    align-items: center;
}

.banner-right-item img:hover {
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transform: scale(1.27);
    -webkit-transform: scale(1.27);
    -moz-transform: scale(1.27);
    -ms-transform: scale(1.27);
    -o-transform: scale(1.27);
}


/* ------------- Player Style -------------- */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 70px;
}

.single-player {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
}

.single-player:hover {
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

.player-image img {
    width: 100%;
}

.player-image img:hover {
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.player-info h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.player-info p {
    color: #6C6C6C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* ------------- Highlights Style -------------- */

.highlight {
    background-color: #FFFFFF;
    padding-top: 150px;
}

.highlight-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.highlight-left-item {
    align-items: center;
}

.highlight-left-item:hover {
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.highlight-left-item h1 {
    color: #0A0826;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    padding-top: 35px;
    text-align: left;
}

.highlight-left-item p {
    color: #6C6C6C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding-right: 65px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.highlight-left-item a {
    margin-top: 8px;
}

.highlight-right-item img {
    width: 100%;
    align-items: center;
}

.highlight-right-item img:hover {
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
}


/* ------------- Upcomming match Style -------------- */

.upcomming-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
}

.upcomming-matches-bg {
    padding-top: 60px;
    padding-bottom: 0px;
}

.single-matche {
    padding: 15px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0px;
    justify-content: space-between;
}

.single-matche:hover {
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}

.single-matche img {
    width: 100%;
    border-radius: 10px;
}

.single-matche h3 {
    color: #0A0826;
}

.vs {
    color: #E02C6D;
}

.single-matche p {
    text-align: center;
    color: #000000;
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
}

.venue {
    color: #2D25A0;
    font-weight: bold;
    text-align: center;
}

.single-matche-duration {
    background: #2BB857;
    border-radius: 14.6913px;
    padding: 10px 24px;
    color: #FFF;
    text-align: center;
}

.single-matche-duration i {
    color: #000;
}


/* ------------------- team Style -------------------- */

.flexible-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0px;
    justify-content: center;
    margin-bottom: 50px;
}

.teams-area {
    padding-top: 70px;
    padding-bottom: 0px;
    background-color: white;
}

.teams-item {
    align-items: center;
    background-color: white;
    padding: 0px;
    width: 60%;
}

.teams-item img {
    width: 60%;
    align-items: center;
}

.teams-item img:hover {
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}


/* ------------- Contact Style -------------- */

.contact-banner {
    background-color: #2D25A0;
    width: 100%;
    padding: 86px 0px 86px 0px;
}

input {
    border: 2px solid #6d6d6d;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    color: #6d6d6d;
    transition: border 0.3s, box-shadow 0.3s;
    width: 330px;
}

.subcribe {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0px;
    justify-content: space-between;
}

.subcribe:hover {
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}

.subcribe h1 {
    padding-bottom: 30px;
}

.mb-20 {
    padding-bottom: 20px;
}


/* ------------- footer Style -------------- */

.footer-content {
    padding-top: 50px;
    width: 484px;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
}

.footer-content img {
    width: 100%;
    align-items: center;
    margin-bottom: 0px;
}

.social {
    margin-bottom: 20px;
    align-items: center;
}

.social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social ul li {
    list-style: none;
    text-decoration: none;
}

.social ul li a {
    height: 32px;
    width: 32px;
    display: inline-block;
    font-size: 14px;
    display: grid;
    place-items: center;
    color: #969bab;
    background-color: #0b0d172b;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}

.social ul li a:hover {
    color: #FFFFFF;
    height: 32px;
    width: 32px;
}

.social ul li a:hover {
    background-color: #E02C6D;
    color: #FFFFFF;
}

.footer-content p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    padding: 0px;
    margin-left: 14px;
}